@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main_color{
    background-color: #2874f0;
}

.font{
    font-family: 'Roboto', sans-serif;
}
.white{
    color: white;
}
.viweBtn{
    background-color: #2874f0;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;

}
.titleForEl{
    font-size: 30px;
    text-align: center;
    margin: 60px 0 20px 0;
}
.bold{
    color: rgba(0, 0, 0, 0.836);
    font-weight: 600;
    font-size: 13px;
}
.green{
    color: rgba(0, 128, 0, 0.734);
}
.grey{
    color: grey;
    font-size: 14px;
}
.shadow{
    box-shadow: 0px -1px 5px 4px rgba(0, 0, 0, 0.1);
}
.light_black{
    color: rgba(0, 0, 0, 0.638);
}
.dark_grey{
    color: grey;
    font-size: 12px;
}
.dark_grey2{
    color: rgb(77, 77, 77);
    font-size: 12px;
}
.grey_footer{
    color: grey;
    font-size: 14px;
    text-transform: uppercase;
}